.container {
  display: inline-block;
  .wrapper {
    cursor: pointer;
    background-color: #064d8b;
    border-radius: 5px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 1.3rem;
    box-sizing: border-box;
    min-width: 11.8rem;
    max-width: 100%;
    height: 3rem;

    span {
      color: #fff;
      font-weight: 600;
      font-size: 1.4rem;
    }
  }
}

.margin {
  margin-left: 1.6rem;
  margin-right: 1.6rem;
}
